In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')
df

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.00,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.00,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.00,0,0,0,1,13,159,98,0
3,1,0.00,1,0.00,0,82,0,0,679,414,651,0
4,1,0.00,2,0.00,0,0,0,1,6,151,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   profile pic           576 non-null    int64
 1   nums/length username  576 non-null    float64
 2   fullname words        576 non-null    int64
 3   nums/length fullname  576 non-null    float64
 4   name==username        576 non-null    int64
 5   description length    576 non-null    int64
 6   external URL          576 non-null    int64
 7   private               576 non-null    int64
 8   #posts                576 non-null    int64
 9   #followers            576 non-null    int64
 10  #follows              576 non-null    int64
 11  fake                  576 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 54.1 KB

In [4]:
df['profile pic'].value_counts()

1    404
0    172
Name: profile pic, dtype: int64

In [5]:
df.isnull().sum()

profile pic             0
nums/length username    0
fullname words          0
nums/length fullname    0
name==username          0
description length      0
external URL            0
private                 0
#posts                  0
#followers              0
#follows                0
fake                    0
dtype: int64

In [6]:
df2=df

df1=df2.drop(columns=['nums/length username','fullname words','nums/length fullname','description length','external URL'])

In [7]:
df1['profile pic'].value_counts()

1    404
0    172
Name: profile pic, dtype: int64

In [8]:
test=pd.read_csv('test.csv')

In [9]:
test1=test
test1=test1.drop(columns=['nums/length username','fullname words','nums/length fullname','description length','external URL'])

In [10]:
x_test=test1.drop('fake',axis=1)
y_test=test1['fake']

In [11]:
x=df1.drop('fake',axis=1)
y=df1['fake']

In [12]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x,y)

RandomForestClassifier()

In [15]:

pre=model.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pre)

0.9166666666666666

In [19]:
def predict_profile(model,input_data):
    prediction=model.predict([input_data])
    return prediction[0]

In [20]:
predict_profile(model,[0,1,1,16,300,120])

0

In [21]:
predict_profile(model,[1,0,0,34,1,111])

1

In [22]:
import pickle
with open("fake_orofile.pickle",'wb') as f:
    pickle.dump(model,f)

In [23]:
import json
columns={
    'data_columns':[col.lower() for col in x.columns]
}
with open("columns.json",'w') as f:
    f.write(json.dumps(columns))